<div class="container-fluid">
  <div class="row">
    <div class="col">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Titulo</th>
            <th scope="col">Plataforma</th>
            <th scope="col">Año lanzamiento</th>
            <th scope="col">Duracion</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let c of listacursos" (click)="onSelect(c)">
            <th scope="row"><dd>{{c.id}}</dd></th>
            <td id="titulo"><dd>{{c.title}}</dd></td>
            <td><dd>{{c.platform}}</dd></td>
            <td><dd>{{c.launch_year}}</dd></td>
            <td><dd>{{c.duration_hours}}</dd></td>
          </tr>
        </tbody>
        <div *ngIf="idsConCertificado.length > 0">
          Los cursos {{ idsConCertificado.join(', ') }} ofrecen certificado.
        </div>
        
        
        
      </table>
    </div>
    <div class="col" *ngIf="cursoSeleccionado">
      <div class="card">
        <img class="card-img-top" [src]="cursoSeleccionado.image" alt="Card image cap" height="400" width="30"  >
        <div class="card-body">
          <h5 class="card-title">{{ cursoSeleccionado.title }}</h5>
          <p class="card-text">{{ cursoSeleccionado.description }}</p>
          <h5 class="card-title" *ngIf="cursoSeleccionado.offers_certificate"> Si tiene certificado :) </h5>
          <h5 class="card-title" *ngIf="!cursoSeleccionado.offers_certificate"> No tiene certificado :) </h5>

        </div>
      </div>
    </div>
  </div>
</div>