
.container-fluid {
    font-family: 'Arial', sans-serif; 
  }
 
  .table {
    margin-top: 40px;
    background-color: #ffffff; 
    border-collapse: collapse;
    width: 100%;
  }
  
#titulo {
    color: blue;
}

  
  .div-centered {
    margin-right: 50px;
    margin-left: 50px;
  }
  
  
  th, td {
    padding: 15px;
    border: 1px solid #dddddd; 
  }
  

  thead {
    background-color: green; 
    color: white;
  }
  
  .div-certificado {
    font-size: 0.9em; 
    color: #333333; 
    margin-top: 20px; 
    font-style: italic;
  }
  
  .card {
    border: none;
    border-radius: 8px; 
  }

 